

.locationTitle{
    height: 739px;
    background-color: #ebe9e7;
    padding-left: 15em;
    padding-right: 15em;
}

.locationTitle h1{
    font-size: 72px;
    color: #592d8a;
    margin-top: 0;
    padding-top: 1em;
}

.locationTitle img{
    width: 645px;
    height: 455px;
}

#locationClasses {
    padding-left: 15em;
    padding-right: 15em;
    padding-top: 1em
}

#locationClasses div {
    margin-block-end: 0;
    margin-block-start: 0;
}



#locationClasses div blockquote{
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-start: 33px;
}

#locationClasses div hr{
    margin-block-start: 2em;
    margin-block-end: 2em;
}


@media screen and (width: 2560px) {
    #locationClasses {
        padding-left: 25em;
        padding-right: 25em;
        padding-top: 1em
    }

    .locationTitle{
        padding-left: 25em;
        padding-right: 25em;
    }
    
}

@media screen and (max-width: 1200px) {
    #locationClasses {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em
    }

    .locationTitle{
        padding-left: 1em;
        padding-right: 1em;
    }
    
}



@media screen and (max-width: 800px) {
    #locationClasses {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em
    }

    .locationTitle{
        padding-left: 1em;
        padding-right: 1em;
    }
    
}
@media screen and (max-width: 500px) {
    #locationClasses {
        padding-left: 1em;
        padding-right: 0;

        padding-top: 1em;

    }

    .locationTitle{
        padding-left: 1em;
        padding-right: 0;
        width: 100%;
        height: 600px;
    }

    .locationTitle img{
        width: 400px;
        height: 300px;
    }
    
}


